ul {
    list-style-type: none;
}

.top-nav__item, .footer-nav__item {
    text-decoration: none;
}

.main-title {
    color: blueviolet;
}

.article, .main-title {
    max-width: 75%;
    margin: 3% auto;
}

.article__img {
    max-width: 50vw;
    max-height: 35vh;
}

footer{
    width: 100%;
    background-color: #c2ebeb;
}

.footer__container{
    width: 30vw;
    display: inline-block;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.footer__img{
    max-width: 45%;
}