@import 'variables.scss';

.top-nav {
    background-color: beige;
    padding: 16px 5%;

    &__unorder-list {
        display: flex;
        justify-content: end;
        gap: 20px;
    }

    &__list {
        display: flex;
        flex-basis: 5%;
        justify-content: center;
        min-width: 50px;
    }

    &__item {
        text-decoration: none;
    }

    @media screen and (max-width: $mobileL) {
        display: none;
        position: absolute;
        top: 39px;
        width: 100%;
        padding: 16px 0;

        &__unorder-list {
            display: flex;
            flex-direction: column;
        }
    }
}

.header {
    position: sticky;
    top: 0;

    @media screen and (max-width: $mobileL) {
        min-height: 39px;
        background-color: beige;
        display: flex;
        justify-content: flex-end;
    }
}