$mobileL: 425px;
$mobileM: 375px;
$mobileS: 320px;

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-nav {
    background-color: beige;
    padding: 16px 5%;

    &__unorder-list {
        display: flex;
        justify-content: end;
        gap: 20px;
    }

    &__list {
        display: flex;
        flex-basis: 5%;
        justify-content: center;
        min-width: 50px;
    }

    &__item {
        text-decoration: none;
    }

    @media (max-width: $mobileM) {
        display: none;
        position: absolute;
        top: 39px;
        width: 100%;
        padding: 16px 0;

        &__unorder-list {
            display: flex;
            flex-direction: column;
        }
    }
}

.header {
    position: sticky;
    top: 0;

    @media (max-width: $mobileM) {
        min-height: 39px;
        background-color: beige;
        display: flex;
        justify-content: flex-end;
    }
}

.main {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    gap: 1rem;

    &__title {
        background-color: aquamarine;
        display: inline-block;
        padding: 10px;
        border-radius: 20px;
    }

    &-title__container {
        color: rgb(52, 12, 90);
        grid-column: 2 / 4;
    }

    &-site-bg {
        background: rgb(63, 94, 251);
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 132, 1) 100%);
    }

    @media (max-width: $mobileS) {
        &__title {
            font-size: 1.5rem;
        }

        &-title__container {
            margin-top: 25px;
        }
    }
}

.article {
    &__img {
        max-width: 50vw;
        max-height: 35vh;
    }

    &--first-column {
        grid-column: 2 / 3;
    }

    &--second-column {
        grid-column: 3 / 4;
    }

    &__title::before {
        content: '😎';
        margin-right: 5px;
    }

    &__title::after {
        content: '🚲';
        margin-left: 5px;
    }

    @media (max-width: $mobileL) {
        grid-column: 2 / 4;
    }
}

.footer {
    width: 100%;
    background-color: #7fe7e7;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 75%;
    }

    &__container {
        flex-basis: 25%;
    }

    &__nav {
        display: flex;
    }

    &-logo__img {
        max-width: 25%;
    }

    &-nav {
        &__unorder-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            flex-basis: 90%;
        }

        &__item {
            text-decoration: none;
        }
    }
}

.hamburger {
    display: none;

    @media (max-width: $mobileM) {
        display: block;
        background: none;
        border: 0;
        font-size: 1.6rem;
        margin: 10px;
    }
}

@media (max-width: $mobileS) {
    h2 {
        margin-top: 0;
    }
}

.display-none {
    display: none;
}

.open {
    display: block;
}