@import '../../node_modules/normalize.css/normalize.css';
@import 'fonts.scss';
@import 'header.scss';
@import 'main-article.scss';
@import 'footer.scss';

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



.hamburger {
    display: none;

    @media (max-width: $mobileM) {
        display: block;
        background: none;
        border: 0;
        font-size: 1.6rem;
        margin: 10px;
    }
}

@media (max-width: $mobileS) {
    h2 {
        margin-top: 0;
    }
}

.display-none {
    display: none;
}

.open {
    display: block;
}