$mobileL: 425px;
$mobileM: 375px;
$mobileS: 425px;

:root{
    --mainBackgroundColor:radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 132, 1) 100%);
    --textColor:#1d1c1c;

    @media (prefers-color-scheme: light){
        --mainBackgroundColor:#1d1c1c;
        --textColor:rgb(204, 204, 14);
    }
}